{% extends "base.htm" %}
{% load staticfiles %}
{% block content %}

	<div class="content_div">
		<table class="int_cont_tbl">
			<tr>
				<td>
				<table class="int_cont_tbl_hdr">
					<tr>
						<td class="int_cont_hdr_td">
						<table class="int_cont_hdr_td">
							<tr>
								<td class="int_hdr_bok">
								<a href="javascript:window.print()" target="_blank" title="Print">
								<img alt="" height="24" src="{% static 'images/icons/prnt_clk.png' %}" width="25" /></a>
								<a href="#" target="_blank" title="Bookmark">
								<img alt="" height="24" src="{% static 'images/icons/fav_clk.png' %}" width="25" /></a></td>
								<td class="int_hdr_tit">
								<table class="int_hdr_tit2"><br/>
									<tr>
										<br/><br/><br/><br/>
										<td class="int_hdr_title">عن حاسوبويه</td>
									</tr>
									<tr>
										<td class="int_hdr_stitle">تطوير تقنيات 
										اللغة العربية وتطبيقاتها</td>
									</tr>
								</table>
								</td>
								<td class="int_hdr_logo"><a href="/">
								<img alt="" src="{% static 'images/slogo.png' %}" /></a></td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td class="int_content_frm">
				<table class="int_content_frm">
					<tr>
						<td class="int_cont_spc_brdr">
   							<div class="content_spon2">
								<center style="height: auto;">
								<table class="content_spon_tbl2">
									<tr>
										<td class="spon_tbl_spc2"></td>
									</tr>
									<tr>
										<td class="spon_tbl_sml2">
										<img alt="" height="36" src="{% static 'images/spon/sml.png' %}" width="43" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_med2">
										<img alt="" height="31" src="{% static 'images/spon/med.png' %}" width="60" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_lar2">
										<img alt="" height="62" src="{% static 'images/spon/large.png' %}" width="36" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_med2">
										<img alt="" height="41" src="{% static 'images/spon/med2.png' %}" width="44" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_sml2">
										<img alt="" height="40" src="{% static 'images/spon/sml2.png' %}" width="35" /></td>
									</tr>
								</table>
								</center></div>
						</td>
						<td class="int_cont_pg_brdr">
						<table class="int_cont_pg_brdr" style="background-image: url('images/brdr/int_hdr.png');">
							<tr>
								<td class="search_box" style="width: 100%">
								<table class="search_box" style="width: 100%">
									<tr>
										<td class="search_box_l">
										<a href="/" title="إبدأ البحث">
										<img alt="" height="47" src="{% static 'images/icons/srch_clk.png' %}" style="margin-left: 11px;" width="30" /></a></td>
										<td class="search_box_m">
										<input class="search_box_txt" dir="rtl" name="SearchBox" tabindex="0" type="text" value="ابحث هنا" />
										</td>
										<td class="search_box_r" style="width: 45px; background-image: url('images/search/srch_r2.png');">
										</td>
									</tr>
								</table>
								</td>
							</tr>
							<tr>
								<td class="int_cont_page">اللسانيات الحاسوبية وتسمى 
								أيضاً علوم اللغة الحاسوبية وهي علوم حديثة تستخدم 
								الحواسيب في تحويل النصوص، والمعلومات اللغوية إلى 
								لغات الحاسب الرقمية لتحليلها، وترجمتها للغات أخرى، 
								وتطوير نماذج اختبار للعمليات اللغوية. في هدا العلم 
								تشارك اللسانيات في المساعدة على فهم خصائص 
								<a href="/">المعطيات
								اللغوية</a> وكذلك تقديم نظريات تفيد في كيفية بناء اللغة 
								واستعمالها. من أهم الخدمات التي يقدمها علم اللغة 
								الحاسبي هي المشاركة في تقديم نظريات وتقنيات تمكن 
								من وضع برامج حاسوبية تساعد على فهم اللغة الطبيعية.<br />
								<br />
								يستخدم اللسانيون برامج الكومبيوتر في تحرير وحفظ 
								واستعادة البيانات والمعلومات والنصوص بأساليب متعددة، 
								وتأسيس القواميس والمعاجم اللغوية الرقمية، وفهرسة 
								النصوص المختلفة أبجدياً بأكثر من طريقة، وساهم تطور 
								العلوم الرقمية خلال السنوات الأخيرة في ظهور آليات 
								جديدة تماماً في المجالات اللغوية منها تقنية التعرف 
								البصري على المحارف (بالإنجليزية: OCR) حيث تتعرف 
								أجهزة الحاسب على أشكال الوحدات اللغوية الأساسية، 
								والوحدات اللغوية المركبة وتحولها إلى لغة رقمية (نص 
								إلكتروني) يُمكن تحريره وتعديله.<br />
								<br />
								القواميس الإلكترونية وهي عبارة عن قواعد بيانات ضخمة 
								تضم كل المفردات اللغوية للغتين أو أكثر وقد حقق استخدامها 
								نجاحاً تاماً في ترجمة الوحدات اللغوية الأساسية (المفردات) 
								بين كل اللغات الترجمة الإلكترونية وهذه حققت نجاحاً 
								كبيراً في ترجمة النصوص بين لغات العائلة اللغوية 
								الواحدة، ونجاحاً محدوداً ما زال تحت التطوير في ترجمة 
								لغات لا تنتمي لنفس العائلة. <br />
								<br />
								تقنية التعرف الصوتي وتستخدم الحاسبات في تحويل الأصوات 
								إلى نصوص وكذلك تحويل النصوص إلى أصوات ونطقها وقد 
								دعمت هذه الإمكانيات العلوم اللغوية بتحليل كميات 
								هائلة من نماذج الوحدات اللغوية في اللغات المختلفة 
								لاكتشاف بنية اللغة، وأوجه تشابه الأنماط اللغوية.<br />
								<table class="int_clks_bar">
									<tr>
										<td class="int_clks_bar" style="padding-bottom: 10px; padding-top: 10px;">
										<a href="/" title="الصفحة السابقة">
										<img alt="" height="29" src="{% static 'images/icons/back_clk.png' %}" width="31" /></a></td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
	</div>
{% endblock %}