{% extends "base.htm" %}
{% load staticfiles %}
{% block content %}

<div class="content_div">
		<div class="content_spc">
		</div>
		<div class="content_srch">

			<!--<form method="get">-->
				<table class="content_srch">
					<tr>

						<td class="content_logo">
						<img alt="" height="93" src="{% static 'images/logo.png' %}" width="252" /></td>
					</tr>
					<tr>
						<td class="search_box">
						<table class="search_box">
							<form id = "form-search" method="POST" action="{% url 'search' %}"  class="search_box_txt" dir="rtl" tabindex="0">{% csrf_token %}
							<tr>
								<td class="search_box_l">
								<a href="#" title="إبدأ البحث" onclick="if(searchvalidate()){document.forms['form-search'].submit()};">
								<img alt="" height="47" src="{% static 'images/icons/srch_clk.png' %}" style="margin-left: 11px;" width="30" /></a></td>
								<td class="search_box_m">
									<!--<input class="search_box_txt" dir="rtl" name="SearchBox" tabindex="0" type="text" value="نعمة من كريم" />-->
									<label id="SearchErrorText" style="font-size:14px"></label>
									<br/>
										{{form.as_p}}
										<!--<input type="submit" value="إبدأ البحث" dir="rtl" formaction="{% url 'search' %}">-->
										<input type="hidden"  id="my_search" name="search_method">
								</td>
								<td class="search_box_r">
								<p class="search_box_p">ابحث عن</p>
								</td>
							</tr>
							</form>
						</table>
						</td>
					</tr>
					<tr>
						<td class="search_det_box">
						<div id="div_name1" class="search_det1">
							<table class="search_det1">
								<tr>
									<td class="search_det1_clk">
									<a href="" onclick="document.getElementById('div_name2').style.display='';document.getElementById('div_name1').style.display='none';document.getElementById('my_search').value='advanced';return false;">
									<img alt="" height="26" src="{% static 'images/icons/srch_det1_clk.png' %}" style="margin-top: 6px" width="86" /></a></td>
									<td class="search_det1_disc">للحصول على نتائج أكثر دقة يفضل استخدام البحث المتقدم.</td>
								</tr>
							</table>
						</div>
						<div id="div_name2" class="search_det2" style="display: none;">
							<center>
							<table class="search_det2_tbl">
								<tr>
									<td class="search_det2_boxs" style="height: 17px">
									</td>
									<td class="search_det2_labels" style="height: 17px">
									</td>
								</tr>
								<tr>
									<td class="search_det2_boxs">
									<select class="search_det_box_txt" dir="rtl" name="Select1" onchange="getselect(this,'xmydate');">
									{% for value in mydate %}
									<option id="x1" value="{{value.0}}">{{value.1}}</option>
									{% endfor %}
									</select> </td>
									<td class="search_det2_labels"></td>
								</tr>
								<tr>
									<td class="search_det2_boxs">
									<select class="search_det_box_txt" dir="rtl" name="Select2" onchange="getselect(this,'xpoet');">
									{% for value in poet %}
									<option id="x2" value="{{value.0}}">{{value.2}}</option>
									{% endfor %}
									</select> </td>
									<td class="search_det2_labels"></td>
								</tr>
								<tr>
									<td class="search_det2_boxs">
									<select class="search_det_box_txt" dir="rtl" name="Select3" onchange="getselect(this,'xpoem');">
									{% for value in poem %}
									<option id="x3" value="{{value.0}}">{{value.1}}</option>
									{% endfor %}
									</select></td>
									<td class="search_det2_labels"></td>
								</tr>
								<tr>
									<td class="search_det2_boxs">
									<select class="search_det_box_txt" dir="rtl" name="Select4" onchange="getselect(this,'xpurpose');">
									{% for value in purpose %}
									<option id="x4" value="{{value.0}}">{{value.1}}</option>
									{% endfor %}
									</select></td>
									<td class="search_det2_labels"></td>
								</tr>
								<tr>
									<td class="search_det2_boxs">
									<select class="search_det_box_txt" dir="rtl" name="Select5" onchange="getselect(this,'xsea');">
									{% for value in sea %}
									<option id="x5" value="{{value.0}}">{{value.1}}</option>
									{% endfor %}
									</select></td>
									<td class="search_det2_labels"></td>
								</tr>
								<tr>
									<td class="search_det2_boxs">
									<select  class="search_det_box_txt" dir="rtl" name="Select6" onchange="getselect(this,'xpublisher');">
									{% for value in publisher %}
									<option id="x6" value="{{value.0}}">{{value.1}}</option>
									{% endfor %}
									</select></td>
									<td class="search_det2_labels"></td>
								</tr>
							</table>
							<a href="" onclick="document.getElementById('div_name2').style.display='none';document.getElementById('div_name1').style.display='';document.getElementById('my_search').value='';return false;" title="إغلاق البحث المتقدم">
							<img alt="" src="{% static 'images/spc.png' %}" style="height: 25px; width: 125px; float: right" /></a></center>
						</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="spon_tit">
			الرعاة</div>
		<div class="content_spon">
			<center>
			<table class="content_spon_tbl">
				<tr>
					<td class="spon_tbl_sml">
					<img alt="" height="36" src="{% static 'images/spon/sml.png' %}" width="43" /></td>
					<td class="spon_tbl_med">
					<img alt="" height="31" src="{% static 'images/spon/med.png' %}" width="60" /></td>
					<td class="spon_tbl_lar">
					<img alt="" height="62" src="{% static 'images/spon/large.png' %}" width="36" /></td>
					<td class="spon_tbl_med">
					<img alt="" height="41" src="{% static 'images/spon/med2.png' %}" width="44" /></td>
					<td class="spon_tbl_sml">
					<img alt="" height="40" src="{% static 'images/spon/sml2.png' %}" width="35" /></td>
				</tr>
			</table>
			</center></div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<Script>
function searchvalidate()
{
	var words = document.getElementById("id_text").value;

	if(words.length == 0)
	{
		document.getElementById("SearchErrorText").innerHTML = "يجب ادخال الكلمة المراد البحث عنها أولا";
		document.getElementById("SearchErrorText").style.color = "red";
		return false;
	}
	if(words.match("^[\u0621-\u064A\u0660-\u0669 ]+$"))
	{
		document.getElementById("SearchErrorText").innerHTML = "لغة عربية صحيحة";
		document.getElementById("SearchErrorText").style.color = "green";
		return true;
	}
	else
	{
		document.getElementById("SearchErrorText").innerHTML = "يجب ادخال احرف اللغة العربية";
		document.getElementById("SearchErrorText").style.color = "red";
		return false;
	}

}
$('html').bind('keypress', function(e)
{
   if(e.keyCode == 13)
   {
   		if(searchvalidate())
   		{
   			return true;
   		}
   		else
   		{
      		return false;
      	}
   }
});
$(document).ready(function(){
	document.getElementById("xmydate").value = $("#x1").val();
	document.getElementById("xpoet").value = $("#x2").val();
	document.getElementById("xpoem").value = $("#x3").val();
	document.getElementById("xpurpose").value = $("#x4").val();
	document.getElementById("xsea").value = $("#x5").val();
	document.getElementById("xpublisher").value = $("#x6").val();
});
function getselect(anyid,inputName)
{
	document.getElementById(inputName).value = $(anyid).val();
}

<!--getpoetid();-->
</Script>
{% endblock %}