{% extends "base.htm" %}
{% load staticfiles %}
{% block content %}

						<table class="int_cont_hdr_td">
							<tr><br/><br/><br/><br/>
								<td class="int_hdr_bok">
								<a href="javascript:window.print()" target="_blank" title="Print">
								<img alt="" height="24" src="{% static 'images/icons/prnt_clk.png' %}" width="25" /></a>
								<a href="#" target="_blank" title="Bookmark">
								<img alt="" height="24" src="{% static 'images/icons/fav_clk.png' %}" width="25" /></a></td>
								<td class="int_hdr_tit">
								<table class="int_hdr_tit2">
									<tr>
										<td class="int_hdr_title">نتائج البحث</td>
									</tr>
									<tr>
										<td class="int_hdr_stitle">{{result|length}} نتيجة بحث</td>
									</tr>
								</table>
								</td>
								<td class="int_hdr_logo"><a href="/">
								<img alt="" src="{% static 'images/slogo.png' %}" /></a></td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td class="int_content_frm">
				<table class="int_content_frm">
					<tr>
						<td class="int_cont_spc_brdr">
						<div class="content_spon2">
								<center style="height: auto;">
								<table class="content_spon_tbl2">
									<tr>
										<td class="spon_tbl_spc2"></td>
									</tr>
									<tr>
										<td class="spon_tbl_sml2">
										<img alt="" height="36" src="{% static 'images/spon/sml.png' %}" width="43" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_med2">
										<img alt="" height="31" src="{% static 'images/spon/med.png' %}" width="60" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_lar2">
										<img alt="" height="62" src="{% static 'images/spon/large.png' %}" width="36" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_med2">
										<img alt="" height="41" src="{% static 'images/spon/med2.png' %}" width="44" /></td>
									</tr>
									<tr>
										<td class="spon_tbl_sml2">
										<img alt="" height="40" src="{% static 'images/spon/sml2.png' %}" width="35" /></td>
									</tr>
								</table>
								</center></div>
						</td>
						<td class="int_cont_pg_brdr">
						<table class="int_cont_pg_brdr" style="background-image: url('images/brdr/int_hdr.png');">
							<tr>
								<td class="search_box" style="width: 100%">
								<table class="search_box" style="width: 100%">
							<form id = "form-search" method="post" action="{% url 'search' %}"  class="search_box_txt" dir="rtl" tabindex="0">{% csrf_token %}
							<tr>
								<td class="search_box_l">
								<a href="#" title="إبدأ البحث" onclick="document.forms['form-search'].submit();">
								<img alt="" height="47" src="{% static 'images/icons/srch_clk.png' %}" style="margin-left: 11px;" width="30" /></a></td>
								<td class="search_box_m">
									<!--<input class="search_box_txt" dir="rtl" name="SearchBox" tabindex="0" type="text" value="نعمة من كريم" />-->
									<br/>
										{{form.as_p}}
										<!--<input type="submit" value="إبدأ البحث" dir="rtl" formaction="{% url 'search' %}">-->
								</td>
								<td class="search_box_r">
								<p class="search_box_p">ابحث عن</p>
								</td>
							</tr>
							</form>
								</table>
								</td>
							</tr>
							<tr>
								<td class="int_cont_page">
								{% for value in result %}
								<table class="int_clks_bar">
									<tr>
										<td class="srch2_brdr">
										<table class="srch2_box">

											<tr>
												<td class="srch2_photo">
												<a href="/search/poetry/{{value.0}}">
												<img alt="" src="{{value.11}}" width="65" height="65"/></a></td>
												<td class="srch2_brdr2">

													<table class="srch2_brdr2">
													<tr>

														<td class="srch2_txt">

														{{value.8}}
														</td>

													</tr>
													<tr>
														<td class="srch2_txt_brdr">
														<table class="srch2_txt_brdr">
															<tr>
																<td class="srch2_txt_tit">
																<a href="/search/poetry/{{value.0}}">
																{{value.12}}</a></td>
																<td class="srch2_txt_artic">
																<a href="/search/poetry/{{value.0}}">
																قصيدة ({{value.1}})</a></td>
																<td class="srch2_txt_spc">
																<a href="/search/poetry/{{value.0}}" title="المزيد ...">
																<img alt="" src="{% static 'images/spc.png' %}" style="width: 14px; height: 39px;" /></a></td>
															</tr>
														</table>

														</td>
													</tr>

												</table>
												</td>
											</tr>
										</table>
										</td>
									</tr>

								</table>
								{% endfor %}
								<table class="int_clks_bar">
									<tr>
										<td class="int_clks_bar" style="padding-bottom: 10px; padding-top: 10px;">
										<img alt="" height="29" src="{% static 'images/icons/prev_clk_dim.png' %}" width="31" />
										<a href="/search/poetry/{{value.0}}" title="الصفحة التالية">
										<img alt="" height="29" src="{% static 'images/icons/nxt_clk.png' %}" width="30" /></a></td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
	</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}